*{
    margin:0;
    padding: 0;
       
}
body{
    background-color: rgb(248, 248, 248);
    font-family: 'Montserrat', sans-serif;

}
h2{
    color: rgb(108, 139, 129);
    font-weight: bold;
    margin-bottom: 15px;

}
p{
    font-size: 18px;
}
header{
   width: 100%;
    color: white;
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bold;
    font-size: 18px;	
	min-width: 500px;
    height: 70px;	
	position: fixed;
	z-index: 1;
    box-shadow: 2px 2px 12px black;
}

.menu {
    display: inline-block; 
    margin-bottom: 0px;
    width: 100%;
    
  }
  .menu > li {
    float: left;
    width: 200px;   
    line-height: 40px;
    background: rgba(0, 0, 0);
    cursor: pointer;
    font-size: 17px;
    text-align: center;
  }
  .menu > li >a{
      color: white;
  }
header>ul{
    list-style-type: none;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    margin-top: 0px;
}

header ul li
{
	display: inline;
	padding: 10px 20px;
}
header ul li a:hover{  
    transform: scale(1.);   
    color: rgb(80, 101, 94);
    opacity: 0.7;
}
a{
    text-decoration: none;
}
#logo{
    margin-left: 40px;
    
}
#logo >img{
    margin-right: 10px;
    height: 50px;
}

/*--------------FIN HEADER-----------------*/
/* for all */
section{
    min-height: 100vh;
    padding: 0px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.flex{
    display: flex;
    justify-content:space-around;
    align-items: center;
    flex-wrap: wrap;
}
.flexCol{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.containerArticle{
    padding: 0px 60px;
}
h1{
    font-size: 40px;
    font-weight: bold;
    margin-left: 30px;
    margin-bottom: 30px;
    color: #444b48; 
    display: inline-block;  
}
.imagesBottom>img{
    margin-bottom: 20px;
}
.imagesBottom{
    margin-top: 20px;
}
video{
    background-color: black;
    
}
/*----I.Index---*/
#name{
    color: white;
    text-transform: uppercase;
    font-family: sans-serif;
    font-size: 50px;
}
#intro{
    background-image: url(imgs/microscope.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-weight: bold;
    flex-direction: column;   
    color: white;
}
/*--animation title-*/
 h1 {
	animation: 1s anim-lineUp ease-in-out ;
   
  }
  @keyframes anim-lineUp {
	0% {
	  opacity: 0;
	  transform: translateX(-50%);
	}
    0% {
        
        transform: translateX(-20%);
        color: rgb(34, 70, 35);
      }

	
	100% {
	  opacity: 1;
	  transform: translateX(0%);
	}
  }

.typing-container {
    display: flex;
    justify-content: flex-start;
    height: 75px;
}
.typing p {
    font-size: 35px;
    font-weight: lighter;
    display: inline-block; 
    position: relative;  
}
.text{
    display: inline-block;
    position: relative;
    font-size: 30px;
    line-height: 60px;
    color: rgb(245, 245, 245);
}
.changeType::after{
    content: '';
    position: absolute;
    right: -10px;
    top: 5px;
 
    height: 100%;
    width: 3px;     
    background-color: #fff;
    animation: cursor 2s steps(1) infinite;
}

@keyframes cursor{
   0%,100%{
        background-color: #fff;
    }
    50%{
       background-color: transparent;
    }
}
/*--------------II.About me---------------*/
.container-aboutMe{
    width: 100%;
}
#aboutMe{
    background-color: white;
    padding: 50px 10px;
    border-radius: 20px;
    align-items: flex-start;

}
#imgFace{
    margin-bottom: 30px;
    height:auto; 
}
.aboutInner
{
    width: 600px
}

.my-experience{
    font-size: 18px;
    text-align: justify;
}
.icons{
    margin:  10px 25px;
    display: flex;
    gap: 22px;
}
.icons>img, .icon >img{
    height:35px;  
}
.icon:hover{
    opacity: 0.6;  
}

.gifBlack{
        filter: grayscale(100%);
}
figure >img{
    height: 250px;
}
/*------------------III.Work-----------------------*/
#work{   
  
    padding: 60px 0px;
    background-color: black;
    min-height: 100vh;
}

.descInside:hover{
    opacity: 0.5;
}
a>p{
    text-align: center;
    color: rgb(175, 179, 178);
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    text-shadow: 2px 2px 2px black;
}
.imagi{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    box-shadow: 5px 3px 3px rgb(29, 27, 27);
    border: 1px solid black;   
}

.descInside{
    color: white;
    margin: 20px 100px;
}
/*---------------------IV.Publications----------------------*/

#publication{
    width: 100%;      
    text-align: justify;
}
#publication > ol{

        list-style-type: none;   
}
ol>li{
    margin-bottom: 20px;
    
}

li > a, .spanBold{ 
    color:  rgb(81, 153, 129);
    font-weight: bold;
}
li > a:hover{
    color:rgba(25, 83, 63, 0.5) ;
}
ol{
    padding: 10px;
}
.resume{
    width: 400px;
    height: 300px;
    border: 1px solid black;
}
#work{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}
/*--------------V.Career---------------------*/

#imgCareer{
    background-image: url(imgs/various.png);
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    opacity: 0.8; 
    margin-bottom: 10px;
}
#imgCareer >h1{  
    color: white;
       
}
/*-----------------VI.Optics------------------*/
.optic{
    padding-top: 90px;
}
.subtitle-year{
    margin:none;
}
.optic>.containerArticle>p, .exoDev>p{   
    margin:  50px 0px; 
    text-align: justify;  
}
.greenBackLight{
    background-image:url("imgs/fond.jpg");
    box-shadow: 3px 3px 3px rgb(39, 49, 47);
    color: rgb(212, 216, 210);   
}
figcaption{
    font-style: italic;
    text-align: center;
}
.imgOptic{
    height: 280px;
}
.titleAlign>h2{
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    padding-bottom: 5px;
    border-bottom:2px solid rgb(185, 132, 142);
    text-shadow:2px 2px 2px black;
}

.titleOptics{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 40px 0px;
}
.titleAlign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
/*-----------quantel-----------*/

#quantel>p{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;

}
.innerContainer{
    width: 400px;
    display: flex;
    margin: 20px;
    border: 1px solid rgb(202, 198, 198);
    flex-direction: column;
    box-shadow: 3px 3px 3px rgb(214, 212, 212);
    background-color: white;
    border-radius: 10px;
}

.quantel{
    width: 100%;
}
.txtOptic1{
    padding:10px 20px;
}
.txtOptic1 >p{
    color: rgb(81, 153, 129); 
    font-weight: bold;
}
/*-----luli------*/
.titleGreen{
    color: rgb(135, 151, 143);
    
}
.imgLuli{
    height: 350px;
    width: 100%; 
}

.whiteText{
    color: white;
}
/*---carousel-*/
#carouselOptics{
    height: 400px;
    width:  900px;
    margin: 60px 0px;
    box-shadow: 5px 5px 5px black;
    background-color: rgb(13, 14, 13);
}
.textOptic{  
    padding: 10px ;
}
.textOptic > p{
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 2px black;
}

/*------bioEmegencies-------*/
.greenTitle{
    color:rgb(28, 32, 31) ;
}


#opticContainer{
    display: flex;
    justify-content: center;
    padding-top: 100px;
}
.exoDev, .imageAnalyse{
    width: 85%;
 
    padding: 50px 0px;
}
#imgContainerColor{
    background-color: rgb(204, 195, 181);
}

/*------------VIIFablab-----------------*/
.fablab{
    width: 90%;
    padding-top: 90px;
}
.article{
    margin-bottom: 50px;
    padding: 35px 50px;
    border-radius: 10px;

    background-color: white;
   
}
.fablabArticle >h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 30px;
    margin-bottom: 60px;
    margin-right: 40px;
}
.fablabArticle >p{
    margin-bottom: 40px;
}
/*---------VIII.Tuto---*/
.mySlides {
    display:none
}
.first{
    padding-top: 90px;
}
.modal{
    z-index:3;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0,0,0,0.9)
}
.close{
    color: white;
    display: flex;
    justify-content: flex-end;
    margin-right: 30px;
}
.descriptionPoster{
    background-color: black;
    color: white;
    text-align: center;
}
/*------------IX.Analyse image-------------*/
.imageAnalyse{
    border-radius: 20px;
    width: 100%;
    background-color: white;
    padding: 30px 50px;
    margin-bottom: 60px;
    box-shadow: 3px 3px 3px gray;
    border: 1px solid rgb(216, 214, 214);
}
.imageAnalyse > h3{
    color: rgb(13, 98, 13);
    margin-bottom: 30px;
}
.imageAnalyse img{
    width: 600px;
  
}
/*-----------*/
footer{
    padding: 20px;
}
@media screen and (max-width:  1200px){
    #logo>img{
      height: 25px;
    }
    #name{
        font-size: 30px;
    }
    .menu > li{
        font-size: 10px;
        width: 90px;  
    } 
    
    header{
        justify-content: flex-start;
        font-size: 10px;
    }
    h1{
        font-size: 25px;
        margin-bottom: 10px;
    }
    
    .icons>img, .icon >img{
        height:25px;  
    }
    /*-------optics---------*/
    #career>img, #imgcareer{
        width: 100%;
        height: auto;
    }
    #quantel{
        padding: 10px 5px;
    }
    .titleAlign>h3{
        font-size:20px ;
    }
   
    .erase{
        display: none;
    }
    .titleOptics >img{
        height: 50px;
    }
    .large{
        width: 100%;
        height: auto;
    }
    iframe{
        height: auto;
    }
    video, iframe{
        margin-bottom: 20px;
    }
    #carouselOptics{
        width: 100%;
        height: 250px;
    }
    .imgLuli{
        height: 200px;
    }
    .imageAnalyse img{
        width: 100%;
    }
    /*----fablab------*/
    

}
